 /*........... panel...... */

 .panel{ 
    height: 30px;
    padding-top: 20px;
    padding-left: 12px;  
}

.panel-body{
   height: 30px;
    padding-top: 20px;
    padding-left: 12px;
}

.panel-primary {
    width: 50%;
    border-radius: 8px;
    border:1px solid navy;
    margin: 20px;
}

.panel-secondary{ 
    width: 50%;
    border-radius: 8px;
    border:1px solid olive;
    margin: 20px;
}

.panel-error{ 
    width: 50%;
    border-radius: 8px;
    border: 1px solid crimson;
    margin: 20px;
}
.primary-heading, .btn, .buy, .google{
    background-color: navy;
}

.second-heading, .bnt, .ok {
    background-color: olive;
}
.error-heading, .bnt, .dlt{
    background-color: crimson;
}
/* .........button...... */
.btn-section{
    margin: 30px;
    margin-left: 150px;
}
.btn, a {
    padding: 8px;
    border-radius: 4px;
    color: white;
}
a:active {
    background-color: rgb(83, 83, 255);
  }
.buy, .ok, .dlt, .google :hover{
    cursor: pointer;
}


/* overflow buttons */
.overflowing {
    width: 77px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btn-section{
    margin-bottom: 10px;
}