 /*........... panel...... */

 .panel{ 
    height: 30px;
    padding-top: 20px;
    padding-left: 12px;  
}

.panel-body{
   height: 30px;
    padding-top: 20px;
    padding-left: 12px;
}

.panel-primary {
    width: 50%;
    border-radius: 8px;
    border:1px solid navy;
    margin: 20px;
}

.panel-secondary{ 
    width: 50%;
    border-radius: 8px;
    border:1px solid olive;
    margin: 20px;
}

.panel-error{ 
    width: 50%;
    border-radius: 8px;
    border: 1px solid crimson;
    margin: 20px;
}
.primary-heading, .btn, .buy, .google{
    background-color: navy;
}

.second-heading, .bnt, .ok {
    background-color: olive;
}
.error-heading, .bnt, .dlt{
    background-color: crimson;
}
/* .........button...... */




button {
    padding: 0.5rem 0.625rem;
    border: 0px;
    border-radius: 5px;
    background-color: #00006d;
  }
  .primary {
    background-color: navy;
    color: white;
  }
  .primary:hover {
    background-color: #6666ff;
    color: white;
  }
  .primary:active {
    background-color: navy;
    color: white;
  }
  
  .secondary {
    background-color: olive;
    color: white;
  }
  .secondary:hover {
    background-color: #b3b300;
    color: white;
  }
  .secondary:active {
    background-color: olive;
    color: white;
  }
  .error {
    background-color: crimson;
    color: white;
  }
  .error:hover {
    background-color: #ee4466;
    color: white;
  }
  .error:active {
    background-color: crimson;
    color: white;
  }
  
  .google {
    text-decoration: none;
    color: white;
  }